{% load pipeline %}
{% load i18n %}
{% load csp %}
{% load settings_value %}
{% load tz %}
{% load socialaccount %}

{%  value_from_settings SITE_NAME as site_name %}
{%  value_from_settings DEBUG as debug %}
{%  value_from_settings HOME_URL as home_url %}
{%  value_from_settings HOME_URL_NAME as home_url_name %}
{%  value_from_settings BASE_URL as base_url %}
{%  value_from_settings REGISTER_ENABLED as register %}
{%  value_from_settings GROUP_MANAGEMENT as group_management_enabled %}

<footer>
    <div class="container"><a href="{% url 'about' %}">{% trans 'About' %}</a><span class="separator"></span><a href="{% url 'imprint' %}"
        target="_blank">{% trans 'Imprint' %}</a><span
                class="separator"></span><a href="{% url 'technical' %}">{% trans 'Technical Info' %}</a><span
       class="separator"></span><a href="{% url 'login' %}?next={{ request.path }}">{% trans 'Local Login' %}</a>
        <span class="separator"></span>
        {% trans 'Current timezone is' %} {% get_current_timezone as TIME_ZONE %}{{ TIME_ZONE }}<span
       class="separator"></span>
    <form class="form-inline" action="{% url 'set_language' %}" method="post">
        {% csrf_token %}
        <p>
            <button name="language" value="de" class="btn-link lang-btn" type="submit">Deutsch</button>
            &middot;
            <button name="language" value="en" class="btn-link lang-btn" type="submit">English</button>
        </p>
    </form>

        {% if debug %}
            <div class="footer-warning">
                {% blocktrans %}
                <b>Warning!</b> {{ site_name }} is configured with <code>DEBUG = True</code>.
                {% endblocktrans %}
            </div>
        {% endif %}
    </div>
</footer>