{% load i18n %}
{% load poll_filter vote_permissions comment_permissions poll_permissions has_members_from_poll %}
{% load tz %}
{% load django_markdown django_markdown_static %}
<div class="container">
<div class="table-noscroll-y">
    <div class="table-scroll-x">
        {% if not matrix %}
            <p class="alert alert-warning">
            {% blocktrans %}
            This Poll does not contain any Choices, you can create some at the Choices tab
            {% endblocktrans %}
            </p>
        {% endif %}

        {% if poll.separate_groups %}
            {% for group in settings.POLL_GROUP_ORDERING|has_members_from_poll:poll %}
                {% include 'poll/poll_table.html' with group_filter=group first=forloop.first last=forloop.last idx=forloop.counter0 %}
            {% endfor %}
        {% else %}
            {% include 'poll/poll_table.html' %}
        {% endif %}
    </div>
    {# TODO: Add legend for choice values #}
</div>

<div class="pull-right">
    <a href="{% url 'poll_export_csv' poll.url %}">{% trans 'Export as CSV' %}</a>
</div>

<br/><br/>{% if comments %}<h1 class="print-only">{% trans 'Comments' %}</h1>{% endif %}
<div class="comments">
    {% for comment in comments %}
    <div class="comment">
        <div class="meta">
            <div class="author">{% if comment.user %}{{ comment.user.get_displayname }}{% else %}{{ comment.name }}{% endif %}</div>
            {% trans 'commented on' %}
            <div class="date">{{ comment.date_created }}</div>

            <div class="edit">
                {% if not request.user.is_anonymous and request.user == comment.user or request.user.is_superuser %}{# TODO: wenn der user admin/owner ist #}
                <a href="{% url 'poll_deleteComment' poll.url comment.id %}{{ url_append }}" title="{% trans 'Delete comment' %}" class="btn btn-default btn-xs">
                        <i class="fa fa-trash-o"></i>
                </a>
                {% endif %}
                {% if comment|comment_can_edit:request.user %}
                    <a href="{% url 'poll_comment_edit' poll.url comment.id %}{{ url_append }}" title="{% trans 'Edit comment' %}" class="btn btn-default btn-xs">
                        <i class="fa fa-pencil"></i>
                </a>
                {% endif %}
            </div>

        </div>
        <div class="text"><p>{{ comment.text|markdown_safe }}</p></div> {# TODO:  #}
    </div>
    {% endfor %}

</div>
<hr>
<div class="noprint">
    {% if poll.allow_comments %}
        <h3>{% trans 'Post a comment' %}</h3>
        {% include 'poll/comment_form.html' %}
    {% else %}
            <p>{% trans 'Comments are disabled for this Poll' %}</p>
    {% endif %}
</div>
</div>

{% if poll.separate_groups %}
<!-- dirty hack to make all cells in different tables the same width -->
<script>
    // first, make all cells the same width as the first row in the first table
    let tableRows = document.querySelectorAll("tr.vote");
    let firstRow = tableRows[0];
    tableRows.forEach(tr => {
        for (let i = 0; i < tr.children.length; i++) {
            tr.children[i].style.minWidth = firstRow.children[i].offsetWidth + "px";
        }
    })

    // the first cells in the rows might have different lengths (names)
    // => find the longest cell and adjust all other first cells accordingly
    let max_row_lbl_width = 0;
    for (let lbl of document.querySelectorAll(".author")) {
        if (lbl.offsetWidth > max_row_lbl_width) {
            max_row_lbl_width = lbl.offsetWidth;
        }
    }
    document.querySelectorAll(".author").forEach(e => {
        e.style.minWidth = max_row_lbl_width + "px";
    });
</script>
{% endif %}
